@font-face {
    font-family: 'Million_Dreams';
    src: local('Million Dreams'),
         local('Million-Dreams'),
         url(./fonts/Million_Dreams.otf) format('opentype');
    font-display: block;
}

*{
    font-family: Million_Dreams;
}

ul {
    list-style-type: none;
}
.background-royah{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.font-color-white{
    color:white;
}
.gradient-text-1 {
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: monospace;
}
.font-header{
    font-size: 40px;
}
.font-header-normal{
    font-size: 30px;
}
.bolder{
    font-weight: bolder;
}
.title-all-banner{
    width: 500px;
    border-bottom: 1px solid #000;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
}
.space-top{
    margin-top:150px;
}
.box-60{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:0 60px;
}
/* Header */
.header{
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    outline: none;
    height: 110px;
    position: fixed;
    width: 100%;
    box-shadow:0px 5px 20px #000;
    z-index:10;
}
.header .list-item-menu a{
    font-size:25px;
}
.header .link-logo .link-img img{
    width:60px;
}
.header .link-logo div{
    display:flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.header a{
   text-decoration: none; 
}
.header .text-link{
    color: #9c2217;
}
.header .list-item-menu .item-menu{
    position: relative;
}
.header .list-item-menu .item-menu a .i-rotate-up{
    display: inline;
    margin-left: 10px;
}
.header .list-item-menu .item-menu:after{
    background-color: black; 
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 10px;
    transition: 0.3s;
}
.header .list-item-menu .item-menu:hover:after{
    width: 30%;
}
.header .list-icon-menu{
    text-align: center;
}
.header .list-icon-menu div{
    display: inline;
    margin-left: 10px;
}
.header .list-icon-menu div a{
    color: black;
}
.header .list-icon-menu .action-search{
    position: relative;
}
.header .list-icon-menu .search-box-hidden{
    display: none;
    position: absolute;
}
.header .list-icon-menu .action-search:hover + .search-box-hidden{
    display: flex;
}
.header .list-icon-menu .search-box-hidden button{
    border-radius: 5px 0 0 5px;
}
.header .list-icon-menu .search-box-hidden input{
    border-radius: 0 5px 5px 0;
    outline: none;
    border: 1px solid #cccccc;
}
/* Footer */
.footer{
    background-color: #646363;
    padding: 70px 0 50px;
}
.footer .option-footer{
    color:#cccccc;
}
.footer .option-footer:hover{
    color:#f15e2c;
}
.footer-logo {
    color: #9c2217;
    font-size: 50px;
}
.footer .find-store{
    text-align: center;
}
.footer .find-store img{
    width:300px;
}
.footer-logo img{
    width:100px;
}