@font-face {
    font-family: 'Million_Dreams';
    src: local('Million Dreams'),
         local('Million-Dreams'),
         url(./fonts/Million_Dreams.otf) format('opentype');
    font-display: block;
}
@keyframes fade-in{
    from {top: 150px;opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out{
    to {opacity: 0;top: 120px;display: none;}
}
@keyframes move-in{
    from {right: -100px;}
    to {right:0px;}
}
@keyframes move-out{
    from {right: 0px;}
    to {right:-100px;}
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
*{
    font-family: Million_Dreams;
}
ul {
    list-style-type: none;
}
.btn-circle{
    border:1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 40px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    background-color: white;
}
.btn-circle:focus{
    outline: 0;
}
.border-right{
    border-right:1px solid #A9A9A9;
}
.upper-case{
    text-transform: uppercase;
}
.div-space{
    height: 20px;
}
.background-royah{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.font-color-white{
    color:white;
}
.gradient-text-1 {
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: monospace;
}
.font-header{
    font-size: 40px;
}
.font-header-normal{
    font-size: 30px;
}
.bolder{
    font-weight: bolder;
}
.title-all-banner{
    width: 500px;
    border-bottom: 1px solid #000;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
}
.space-top{
    margin-top:150px;
}
.box-60{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:0 60px;
}
/* alias */
.alias-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    background-color: #eeeeee;
    padding:10px;
}
.alias-page a:hover{
    text-decoration: none;
}