@keyframes move-up{
    from{top:80%;opacity: 0;;}
    to{top:60%;opacity: 1;}
}
.product-page{
    padding: 50px;
}
/* ToolOption */
.list-search .option{
    border:1px solid #A9A9A9;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}
.list-search .option label{
    display: block;
}
.list-search .select-price input{
    outline: none;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    border: 1px solid #A9A9A9;
} 
.list-search .option input{
    margin-right: 10px;
    
}
.list-search .option .title-option{
    font-weight: bolder;
    font-size: 20px;
}

/* item product */
.list-product{
    padding-left: 50px;
}
.item-product .img-product{
    overflow: hidden;
}
.item-product .infor-produce{
    margin-top: 15px;
}
.item-product .img-product img , .images-buy-now img{
    width: 340px;
    height: 450px;
    transition: 0.3s;
    position: relative;
}
.item-product:hover img{
    transform: scale(1.2);
}
.item-product {
    font-size: 20px;
    margin-bottom: 40px;
}
.item-product .price-product{
    font-size: 16px;
    color: rgba(143,143,143,1);
}
.item-product .button-control-product{
    position: absolute;
    left:20%;
    display: none;
}
.item-product:hover .button-control-product{
    animation: move-up 0.7s;
    display: block;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Buy now hidden */
.box-blur{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 211, 211);
    z-index: 10;
    display: none;
    opacity: 0.6;
}
.buy-now-hidden-box {
    width:50%;
    position: fixed;
    top:30%;
    border: 5px double black;
    background-color: white;
    z-index: 0;
    right:25%;
    padding: 10px;
    display: none;
    z-index: 11;
}
.buy-now-hidden-box .images-buy-now img{
    width: 100%;
}
.control-quality input {
    width: 30%;
    border-radius: 0;
    color: black;
    text-align: center;
}
.control-quality{
    display: flex;
}
.control-quality button{
    width: 50px;
    border: 1px solid black;
    outline: none;
    background-color: white;
}
.buy-now-hidden-box .title{
    font-weight: bolder;
    margin: 5px 0 10px 0;
    text-align: center;
}
.buy-now-hidden-box .out-buy-now button{
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
}